.gu-mirror {
  position: fixed !important;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  z-index: 9999 !important;
  opacity: 0.75 !important;
  // -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  // filter: alpha(opacity=80);
  border: 2px solid #9bb956;
  background: #d6e8ab;
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  // opacity: 0.2;
  // -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  // filter: alpha(opacity=20);
  border-bottom: none;
  border: 2px solid rgba(138, 104, 139, 0.24);
  background: hsl(0, 1%, 87%);
}