$page-width: 800px;
$button-width: 40px;
// $header-bg: linear-gradient(to bottom,  #cdeb8e 0%,#a5c956 100%);
// $header-bg: linear-gradient(to bottom, #5B7B4B 0%, #4C543C 100%);
$header-bg: #635662;
$radius: 5px;
$button-bg: #9BB956;
$button-bg-light: rgba(0,0,0,0.3);
$button-bg-hover: #89A24F;
$button-bg-delete: #D08F53;
$bodyFont: "Nixie One";
$listFont: "Rock Salt";
$fontColor: #6F6C6F;
$borderColor: #CACACA;
